<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stomatologiyaDB.Properties.Settings.СтоматологияConnectionString"
            connectionString="Data Source=SHUTKXVALAPTOP;Initial Catalog=Стоматология;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>